* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, sans-serif;
}

.menuitem {
  float: left;
}

.menuitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}


.menuitem a:hover {
  background-color: #111;
}

.rightMenu {
  float: right;
}

@media (max-width: 768px) {
  .menu .menuitem {
    float: none;
    text-align: center;
  }
}
